.odd{
background-color: #FF7276;
font: verdana, "dejavu-sans", sans-serif
}

.odd.three
{
    font-size:24px;
}
#n2 {
    font-size: 36px;
    color: #00f;
}
#n4 {
    background-color: #90ee90;
    font-weight: bold;
    font-size: 24px;
}